<!DOCTYPE html>
<html>
<head>
  <title>Submane</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag "submane/favicon.ico" %>
  <%= stylesheet_link_tag "submane/application", media: "all" %>
</head>
<body>
  <main class="mx-auto">
    <%= yield %>
  </main>


</body>
</html>
