<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

   <div>
    <%= form.label :visual_order %>
    <%= form.number_field :visual_order, in: 1.0..20.0, step: 1.0 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
